################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/DataCenterTestClient/bin/Debug/net6.0
/DataCenterTestClient/obj
/DataCenterTestServer/bin/Debug/net6.0
/DataCenterTestServer/obj
